.box7 {
    width: 1000px;
    height: 700px;
    -webkit-box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 5px #A0A0A0, inset 0px 10px 27px -8px #141414, inset 0px -10px 27px -8px #A31925, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    margin-left: 450px;
    margin-top: -700px;
    border-radius: 20px;
    background: #f1c37b;
}
.box7 h4 {
    font-size: 40px;
    margin-top: -300px;
    text-align: center;
    color: #030303;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;    text-align: center;

}
.box7 iframe{
    border-radius: 20px;
margin-left: 200px;
    margin-top: 90px;
}
@media only screen and (min-width: 68px) and (max-width: 1023px){
    .box7{
        width:  300px!important;
        margin-left: 300px;
    }
    .box7 h4 {
        font-size: 30px!important;
        margin-left: 70px;

    }
.box7 iframe{
    width: 280px;
    margin-left: 10px;
}
}
@media only screen and (min-width: 1024px) and (max-width: 1439px){
    .box7{
        width: 800px;
        margin-left: 400px;
    }
}
